.wn-icon { background-image: url(/src/assets/sprite/land.png);background-size: 3.745rem;display: inline-block;vertical-align: middle;}
.wn-icon-1 {width: 0.7rem; height: 0.705rem; background-position: 0rem -2.37rem;}
.wn-icon-2 {width: 0.68rem; height: 0.685rem; background-position: -0.72rem -2.37rem;}
.wn-icon-3 {width: 0.595rem; height: 0.605rem; background-position: -1.42rem -2.37rem;}
.wn-icon-4 {width: 0.595rem; height: 0.605rem; background-position: -2.035rem -2.37rem;}
.wn-icon-5 {width: 1.41rem; height: 2.015rem; background-position: -2.335rem 0rem;}
.wn-icon-6 {width: 2.315rem; height: 2.35rem; background-position: 0rem 0rem;}
.wn-icon-888 {width: 0.575rem; height: 0.575rem; background-position: -2.65rem -2.37rem;}
.wn-icon-earn {width: 0.575rem; height: 0.575rem; background-position: 0rem -3.095rem;}
.wn-icon-logo {width: 0.575rem; height: 0.575rem; background-position: -0.595rem -3.095rem;}
.wn-icon-money {width: 0.575rem; height: 0.575rem; background-position: -1.19rem -3.095rem;}