.wn-icon { background-image: url(/src/assets/recommend/explain.png);background-size: 5.095rem;display: inline-block;vertical-align: middle;}
.wn-icon-card {width: 1.79rem; height: 1.37rem; background-position: 0rem -1.315rem;}
.wn-icon-panel {width: 2.045rem; height: 1.295rem; background-position: 0rem 0rem;}
.wn-icon-red {width: 1rem; height: 1.23rem; background-position: -2.065rem -0.87rem;}
.wn-icon-star {width: 0.215rem; height: 0.21rem; background-position: -3.085rem -0.87rem;}
.wn-icon-title2 {width: 3.03rem; height: 0.415rem; background-position: -2.065rem 0rem;}
.wn-icon-title3 {width: 2.985rem; height: 0.415rem; background-position: -2.065rem -0.435rem;}