.wn-icon { background-image: url(/src/assets/publish/control/icons.png);background-size: 3.59rem;display: inline-block;vertical-align: middle;}
.wn-icon-1 {width: 0.81rem; height: 0.625rem; background-position: -0.845rem -1.22rem;}
.wn-icon-2 {width: 0.8rem; height: 0.625rem; background-position: 0rem -1.865rem;}
.wn-icon-3 {width: 0.625rem; height: 1.115rem; background-position: -0.645rem 0rem;}
.wn-icon-4 {width: 0.795rem; height: 0.625rem; background-position: -1.64rem -1.865rem;}
.wn-icon-5 {width: 0.8rem; height: 0.625rem; background-position: -0.82rem -1.865rem;}
.wn-icon-6 {width: 0.625rem; height: 0.625rem; background-position: -2.965rem 0rem;}
.wn-icon-7 {width: 0.81rem; height: 0.625rem; background-position: -2.135rem -0.645rem;}
.wn-icon-8 {width: 0.81rem; height: 0.625rem; background-position: -2.135rem 0rem;}
.wn-icon-9 {width: 0.625rem; height: 1.2rem; background-position: 0rem 0rem;}
.wn-icon-10 {width: 0.825rem; height: 0.625rem; background-position: 0rem -1.22rem;}
.wn-icon-11 {width: 0.825rem; height: 0.625rem; background-position: -1.29rem 0rem;}
.wn-icon-12 {width: 0.625rem; height: 0.625rem; background-position: -2.965rem -0.645rem;}
.wn-icon-13 {width: 0.36rem; height: 0.305rem; background-position: -1.64rem -0.645rem;}
.wn-icon-14 {width: 0.33rem; height: 0.36rem; background-position: -1.29rem -0.645rem;}
.wn-icon-15 {width: 0.26rem; height: 0.37rem; background-position: -1.675rem -1.22rem;}
.wn-icon-16 {width: 0.355rem; height: 0.355rem; background-position: -2.135rem -1.29rem;}
.wn-icon-17 {width: 0.4rem; height: 0.345rem; background-position: -2.965rem -1.695rem;}
.wn-icon-18 {width: 0.4rem; height: 0.3rem; background-position: -2.51rem -1.29rem;}
.wn-icon-19 {width: 0.4rem; height: 0.32rem; background-position: -2.965rem -2.06rem;}
.wn-icon-20 {width: 0.42rem; height: 0.385rem; background-position: -2.965rem -1.29rem;}